<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<script type="text/javascript"
			th:src="@{/js/jquery-easyui-1.7.0/jquery.min.js}"
			src="/js/jquery-easyui-1.7.0/jquery.min.js"></script>
	<script type="text/javascript"
			th:src="@{/js/jquery.easyui.min.js}"
			src="/js/jquery.easyui.min.js"></script>
	<script type="text/javascript"
			th:src="@{/js/common.js}"
			src="/js/common.js"></script>
	<script type="text/javascript"
			th:src="@{/js/datagrid-filter.js}"
			src="/js/datagrid-filter.js"></script>
	<script type="text/javascript"
			th:src="@{/js/jquery-easyui-1.7.0/easyui-lang-zh_CN.js}"
			src="/js/jquery-easyui-1.7.0/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css"
		  th:href="@{/css/easyui.css}"
		  href="../../static/css/easyui.css"/>
	<link rel="stylesheet" type="text/css"
		  th:href="@{/css/icon.css}"
		  href="../../static/css/icon.css"/>
	<link rel="stylesheet" type="text/css"
		  th:href="@{/css/taotao.css}"
		  href="/css/taotao.css"/>

	<link href="/js/kindeditor-4.1.10/themes/default/default.css"  th:href="@{/js/kindeditor-4.1.10/themes/default/default.css}"
		  type="text/css" rel="stylesheet">
	<script type="text/javascript" charset="utf-8"
			th:src="@{/js/kindeditor-4.1.10/kindeditor-all-min.js}"
			src="/js/kindeditor-4.1.10/kindeditor-all-min.js"></script>
	<script type="text/javascript" charset="utf-8"
			th:src="@{/js/kindeditor-4.1.10/zh_CN.js}"
			src="/js/kindeditor-4.1.10/lang/zh_CN.js"></script>

</head>
<body>
<div style="padding:10px 10px 10px 10px">
	<form id="materialReceiveEditForm" class="materialReceiveForm" method="post">
		<input type="hidden" name="materialReceiveId"/>
	    <table cellpadding="5">
	    	<tr>
	            <td>物料编号:</td>
	            <td>
	            	<input class="easyui-combobox" name="material"  panelHeight="auto" data-options="required:true,
	            		valueField:'materialId',textField:'materialName',url:'/material/getData', editable:false"
						style="width: 160px;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>收入数量:</td>
	            <td>
	            	<input class="easyui-numberbox" type="text" name="amount" style="width: 160px;"/>
	            </td>
	        </tr>
	        </tr>
	         <tr>
	            <td>收入日期:</td>
	            <td><input class="easyui-datetimebox" name="receiveDate"     
        			data-options="required:true,showSeconds:true" style="width:160px"> </td>
	        </tr>  	        
	        <tr>
	            <td>发送者:</td>
	            <td>
	            	<input class="easyui-textbox" type="text" name="sender" style="width: 160px;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>接收者:</td>
	            <td>
	            	<input class="easyui-textbox" type="text" name="receiver" style="width: 160px;"/>
	            </td>
	        </tr>
	        <tr>
	            <td>备注:</td>
	            <td>
	                <textarea style="width:800px;height:300px;visibility:hidden;" name="note"></textarea>
	            </td>
	        </tr>
	    </table>
	</form>
	<div style="padding:5px">
	    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitMaterialReceiveEditForm()">提交</a>
	</div>
</div>
<script type="text/javascript">
	var materialReceiveEditEditor ;
	$(function(){
		//实例化编辑器
		materialReceiveEditEditor = TAOTAO.createEditor("#materialReceiveEditForm [name=note]");
	});
	
	function submitMaterialReceiveEditForm(){
    			if(!$('#materialReceiveEditForm').form('validate')){
    				$.messager.alert('提示','表单还未填写完成!');
    				return ;
    			}
    			//同步文本框中的备注
    			materialReceiveEditEditor.sync();
    			$.post("/materialReceive/updateAll",$("#materialReceiveEditForm").serialize(), function(data){
    				if(data.status == 200){
    					$.messager.alert('提示','修改成功!','info',function(){
    						$("#materialReceiveEditWindow").window('close');
    						$("#materialReceiveList").datagrid("reload");
    					});
    				}else{
    					$.messager.alert('提示',data.msg);
    				} 
    			});
	}
</script>
</body>
</html>