<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <script type="text/javascript"
            th:src="@{/js/jquery-easyui-1.7.0/jquery.min.js}"
            src="/js/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript"
            th:src="@{/js/jquery.easyui.min.js}"
            src="/js/jquery.easyui.min.js"></script>
    <script type="text/javascript"
            th:src="@{/js/common.js}"
            src="/js/common.js"></script>
    <script type="text/javascript"
            th:src="@{/js/datagrid-filter.js}"
            src="/js/datagrid-filter.js"></script>
    <script type="text/javascript"
            th:src="@{/js/jquery-easyui-1.7.0/easyui-lang-zh_CN.js}"
            src="/js/jquery-easyui-1.7.0/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/easyui.css}"
          href="../../static/css/easyui.css"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/icon.css}"
          href="../../static/css/icon.css"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/taotao.css}"
          href="/css/taotao.css"/>

    <link href="/js/kindeditor-4.1.10/themes/default/default.css"
          th:href="@{/js/kindeditor-4.1.10/themes/default/default.css}"
          type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8"
            th:src="@{/js/kindeditor-4.1.10/kindeditor-all-min.js}"
            src="/js/kindeditor-4.1.10/kindeditor-all-min.js"></script>
    <script type="text/javascript" charset="utf-8"
            th:src="@{/js/kindeditor-4.1.10/zh_CN.js}"
            src="/js/kindeditor-4.1.10/lang/zh_CN.js"></script>

</head>
<body>
<div style="padding:10px 10px 10px 10px">
    <form id="technologyPlanEditForm" class="technologyPlanForm" method="post">
        <input type="hidden" name="technologyPlanId"/>
        <table cellpadding="5">
            <tr>
                <td>工艺名称:</td>
                <td>

                    <input class="easyui-combobox" name="technology" panelHeight="auto"
                           data-options="required:true,valueField:'technologyId',textField:'technologyName',
    						url:'/technology/getData',editable:false"/>
                </td>
            </tr>
            <tr>
                <td>批次数量:</td>
                <td>
                    <input class="easyui-numberbox" maxlength="11" name="batchAmount"/>
                </td>
            </tr>
            <tr>
                <td>计划开始时间:</td>
                <td>
                    <input class="easyui-datetimebox" name="startPlan"
                           data-options="required:true,showSeconds:true">
                </td>
            </tr>

            <tr>
                <td>计划结束时间:</td>
                <td>
                    <input class="easyui-datetimebox" name="endPlan"/>
                </td>
            </tr>
            <tr>
                <td>计划提交时间:</td>
                <td>
                    <input class="easyui-datetimebox" name="commitPlan"/>
                </td>
            </tr>
            <tr>
                <td>工艺计划开始时间:</td>
                <td>
                    <input class="easyui-datetimebox" name="technologyPlanStart"/>
                </td>
            </tr>
            <tr>
                <td>工艺计划结束时间:</td>
                <td>
                    <input class="easyui-datetimebox" name="technologyPlanEnd"/>
                </td>
            </tr>

        </table>
    </form>
    <div style="padding-top:20px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitTechnologyPlanEditForm()">
            &nbsp;&nbsp;提交&nbsp;&nbsp;
        </a>
    </div>
</div>
<script type="text/javascript">

    function submitTechnologyPlanEditForm() {
        if (!$('#technologyPlanEditForm').form('validate')) {
            $.messager.alert('提示', '表单还未填写完成!');
            return;
        }

        $.post("updateAll", $("#technologyPlanEditForm").serialize(), function (data) {
            if (data.status == 200) {
                $.messager.alert('提示', '修改工艺计划成功!', 'info', function () {
                    $("#technologyPlanEditWindow").window('close');
                    $("#technologyPlanList").datagrid("reload");
                });
            } else {
                $.messager.alert('提示', data.msg);
            }
        });
    }
</script>
</body>
</html>
