<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<script type="text/javascript"
			th:src="@{/js/jquery-easyui-1.7.0/jquery.min.js}"
			src="/js/jquery-easyui-1.7.0/jquery.min.js"></script>
	<script type="text/javascript"
			th:src="@{/js/jquery.easyui.min.js}"
			src="/js/jquery.easyui.min.js"></script>
	<script type="text/javascript"
			th:src="@{/js/common.js}"
			src="/js/common.js"></script>
	<script type="text/javascript"
			th:src="@{/js/datagrid-filter.js}"
			src="/js/datagrid-filter.js"></script>
	<script type="text/javascript"
			th:src="@{/js/jquery-easyui-1.7.0/easyui-lang-zh_CN.js}"
			src="/js/jquery-easyui-1.7.0/easyui-lang-zh_CN.js"></script>
	<link rel="stylesheet" type="text/css"
		  th:href="@{/css/easyui.css}"
		  href="../../static/css/easyui.css"/>
	<link rel="stylesheet" type="text/css"
		  th:href="@{/css/icon.css}"
		  href="../../static/css/icon.css"/>
	<link rel="stylesheet" type="text/css"
		  th:href="@{/css/taotao.css}"
		  href="/css/taotao.css"/>

	<link href="/js/kindeditor-4.1.10/themes/default/default.css"
		  th:href="@{/js/kindeditor-4.1.10/themes/default/default.css}"
		  type="text/css" rel="stylesheet">
	<script type="text/javascript" charset="utf-8"
			th:src="@{/js/kindeditor-4.1.10/kindeditor-all-min.js}"
			src="/js/kindeditor-4.1.10/kindeditor-all-min.js"></script>
	<script type="text/javascript" charset="utf-8"
			th:src="@{/js/kindeditor-4.1.10/lang/zh_CN.js}"
			src="/js/kindeditor-4.1.10/lang/zh_CN.js"></script>

	<link th:href="@{/css/uploadfile.css}"
		  href="/css/uploadfile.css" rel="stylesheet">
	<script th:src="@{/js/jquery.uploadfile.js}"
			src="/js/jquery.uploadfile.js"></script>
	<script th:src="@{/js/malsup.github.iojquery.form.js}"
			src="/js/malsup.github.iojquery.form.js"></script>

</head>
<body>

<div style="padding:10px 10px 10px 10px">
	<form id="taskAddForm" class="taskForm" method="post">
	    <table cellpadding="5" >
	        <tr>
	            <td>作业编号:</td>
	            <td>
	            	<input class="easyui-combobox" name="work"  panelHeight="auto"
    					data-options="valueField:'workId',textField:'workId',url:'/work/getData',
    						editable:false, required:true" />
    			</td>  
	        </tr>
	        <tr>
	            <td>生产批号:</td>
	            <td>
	            	<input class="easyui-combobox" name="manufacture"  panelHeight="auto"
    					data-options="valueField:'manufactureSnId',textField:'manufactureSnId',url:'/manufacture/getData',
    						editable:false, required:true" />
    			</td>  
	        </tr>
	        <tr>
	            <td>派工数量:</td>
	            <td>
	            	<input class="easyui-numberbox" type="text" name="taskQuantity"/>
    			</td>  
	        </tr>
	        <tr>
	            <td>派工工时:</td>
	            <td>
	            	<input class="easyui-numberbox" type="text" name="workingHours"/>
    			</td>  
	        </tr>
	    </table>
	    <input type="hidden" name="taskParams"/>
	</form>
	<div style="padding:5px">
	    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitTaskAddForm()">提交</a>
	    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearTaskAddForm()">重置</a>
	</div>
</div>
<script type="text/javascript">
	//提交表单
	function submitTaskAddForm(){
		//有效性验证
		if(!$('#taskAddForm').form('validate')){
			$.messager.alert('提示','表单还未填写完成!');
			return ;
		}
		
		//ajax的post方式提交表单
		//$("#taskAddForm").serialize()将表单序列号为key-value形式的字符串
		$.post("/task/insert",$("#taskAddForm").serialize(), function(data){
			if(data.status == 200){
				$.messager.alert('提示','新增生产派工成功!');
				clearTaskAddForm();
				$("#taskAddWindow").window('close');
				$("#taskList").datagrid("reload");
			}else{
				$.messager.alert('提示',data.msg);
			}
		});
	}
	
	function clearTaskAddForm(){
		$('#taskAddForm').form('reset');
	}
</script>
</body>
</html>
